.Second-Reject {
    border: none;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 5px 5px 5px rgb(155, 146, 146);
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 500px;
    display: inline block;
}

.Second-Reject .Second-Reject-Image {
    max-width: 30%;
    border-radius: 10px;
}

.Second-Reject .NVM-1{
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: beige;
    font-family: sans-serif;
    color: black;
}

.Second-Reject .no-2{
    border-radius: 20px;
    background-color: beige;
    font-family: sans-serif;
    color: black;
}    
